*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

:root {
  --color-pencil-gray: #5c6274;
  --color-pencil-red: #a65a5a;
  --color-pencil-blue: #5a5aa6;
  --app-padding-height: 4vh;
  --game-grid-height: 67vh;
  --info-container-height: 25vh;
}

.app {
  font-family: "Fredericka the Great", cursive;
  background-image: url(./assets/checkered-notebook-paper.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  user-select: none;
  height: 100vh;
  width: 100%;
  padding: var(--app-padding-height) 4vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: clamp(2rem, 8vw, 3.5rem);
  gap: 2rem;
}

.game-grid {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: 33.3% 33.3% 33.3%;
  cursor: pointer;
  width: 100%;
  height: calc(100vh - var(--info-container-height) - (var(--app-padding-height) * 2));
  overflow: hidden;
}

.cell {
  display: grid;
  place-items: center;
  border: solid 2px var(--color-pencil-gray);
  font-size: 19vh;
  font-family: "Square Peg", cursive;
  text-transform: uppercase;
}

.cell:nth-child(-1n + 3) {
  border-top: none;
}

.cell:nth-child(3n) {
  border-right: none;
}

.cell:nth-last-child(-1n + 3) {
  border-bottom: none;
}

.cell:nth-last-child(3n) {
  border-left: none;
}

.fun-fact {
  font-size: clamp(1rem, 2vw, 2rem);
  font-family: "Comic Sans MS", cursive;
  text-align: center;
}

.restart-btn {
  font-family: "Comic Sans MS", cursive;
  font-weight: bold;
  display: grid;
  place-items: center;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  height: 4rem;
  border-radius: 0.5em;
  cursor: pointer;
  background-color: hsla(225, 12%, 41%, 0.3);
  box-shadow: 0px 0px 10px 5px hsla(225, 12%, 41%, 0.3);
  transition: 0.25s all ease-out;
}

.restart-btn:hover {
  letter-spacing: 4px;
  background-color: hsla(225, 12%, 41%, 0.5);
  box-shadow: none;
}

.restart-btn:active {
  transform: scale(0.85);
}

.info-container {
  text-align: center;
  height: var(--info-container-height);
  display: grid;
  place-content: center;
  margin-bottom: 1rem;
}

.message {
  margin-bottom: 1.5rem;
}

@media screen and (orientation: landscape) {
  :root {
    --game-grid-width: 70%;
    --info-container-width: 30%;
  }

  .app {
    display: flex;
    flex-direction: row;
  }

  .game-grid {
    width: calc(100% - var(--info-container-width));
    height: calc(100vh - (var(--app-padding-height) * 2));
  }

  .info-container {
    width: calc(100% - var(--game-grid-width));
  }

  .cell {
    font-size: 13vw;
  }

  .message {
    margin-bottom: 5rem;
  }
}
