*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

:root {
  --color-pencil-gray: hsl(225, 12%, 41%);
  --color-pencil-red: hsl(0, 30%, 50%);
  --color-pencil-blue: hsl(240, 30%, 50%);
  --border-cell-transparent: 3px solid transparent;
}

html {
  -webkit-user-select: none;
  -khtml-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;

  /* Fixes weird flickering effect on mobile chrome. */
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  min-height: 100%;
}

body {
  overflow: hidden;
  background: url(assets/checkered-notebook-paper.jpg) center/cover no-repeat fixed;
}

.app {
  font-family: "Fredericka the Great", cursive;
  height: 100dvh;
  max-width: 1020px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 3dvmin;
  margin: auto;
  gap: 2dvmin;
}

.board {
  --cell-size: min(30dvmin, 17dvmax, 200px);
  display: grid;
  grid-template: repeat(3, var(--cell-size)) / repeat(3, var(--cell-size));
  height: 55dvh;
  place-content: center;
}

.cell {
  display: grid;
  place-content: center;
  border: 3px solid var(--color-pencil-gray);
  font-family: "Square Peg", cursive;
  text-transform: uppercase;
  font-size: clamp(2rem, 19dvmin + 1rem, 7rem);
  line-height: 1;
  padding-top: 14%;
  overflow: hidden;
  cursor: pointer;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;
  align-items: center;
  height: 45dvh;
}

.game-status {
  font-size: clamp(2.2rem, 6dvmin + 1rem, 3.6rem);
}

.fun-fact {
  display: grid;
  place-items: center;
  font-size: 1rem;
  font-family: "Comic Sans MS", cursive;
  background: hsl(60, 100%, 90%);
  box-shadow: 5px 5px 7px hsla(0, 0%, 13%, 0.7);
  rotate: -6deg;
  width: 26ch;
  padding: 1em;
}

.fun-fact p {
  margin: 0.5em 0;
}

p.old-school-smiley {
  rotate: 90deg;
  font-size: 2rem;
  margin: 0;
  font-family: monospace;
  letter-spacing: -3px;
}

@media (orientation: landscape) {
  .app {
    flex-direction: row;
  }

  .board {
    height: 100%;
  }

  .info-container {
    height: 100%;
    min-width: 35%;
  }
}

.cell:hover {
  background-color: hsla(106, 89%, 38%, 0.25);
}

.cell:nth-child(-1n + 3) {
  border-top: var(--border-cell-transparent);
}

.cell:nth-child(3n) {
  border-right: var(--border-cell-transparent);
}

.cell:nth-last-child(-1n + 3) {
  border-bottom: var(--border-cell-transparent);
}

.cell:nth-last-child(3n) {
  border-left: var(--border-cell-transparent);
}

.restart-btn {
  font-family: "Comic Sans MS", cursive;
  font-weight: bold;
  display: grid;
  place-content: center;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  border-radius: 0.5em;
  cursor: pointer;
  background-color: hsla(225, 12%, 41%, 0.3);
  box-shadow: 0px 0px 10px 5px hsla(225, 12%, 41%, 0.3);
  transition: 0.25s all ease-out;
}

.restart-btn:hover {
  letter-spacing: 4px;
  background-color: hsla(225, 12%, 41%, 0.5);
  box-shadow: none;
}

.restart-btn:active {
  transform: scale(0.85);
}
