*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --color-pencil-gray: #5c6274;
  --color-pencil-red: #a65a5a;
  --color-pencil-blue: #5a5aa6;
}

.app {
  background-image: url(./assets/checkered-notebook-paper.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  padding: 5vw;
  display: grid;
  place-items: center;
  font-family: "Fredericka the Great", cursive;
  font-size: 3rem;
  user-select: none;
}

.game-grid {
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr;
  cursor: pointer;
}

.cell {
  --cell-size: min(20vw, 20vh);
  display: grid;
  place-items: center;
  border: solid 2px var(--color-pencil-gray);
  width: var(--cell-size);
  height: var(--cell-size);
  font-size: var(--cell-size);
  font-family: "Square Peg", cursive;
  text-transform: uppercase;
}

.cell-sign {
  transform: translateY(-10%);
}

.cell:nth-child(-1n + 3) {
  border-top: none;
}

.cell:nth-child(3n) {
  border-right: none;
}

.cell:nth-last-child(-1n + 3) {
  border-bottom: none;
}

.cell:nth-last-child(3n) {
  border-left: none;
}

.fun-fact {
  font-size: 1rem;
  font-family: "Comic Sans MS", cursive;
  min-height: 5rem;
  text-align: center;
}

.fun-fact > summary {
  cursor: pointer;
}
